{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for exercise in exercises %}
    Exercise: {{exercise.exercise}} 
    <form action="{{url_for('weight_update', id=exercise.id)}}" method="post">
        <input type="text submit" id="weight" name="weight" value="{{exercise.weight}}">
    </form>
    <form action="{{url_for('weight_update', id=exercise.id)}}" method="post">
        <input type="text submit" id="reps" name="reps" value="{{exercise.reps}}">
    </form>
    Weight: {{exercise.weight}} Reps: {{exercise.reps}}<br>
    {%endfor%}
    {{list_of_sets}}
</body>
</html>
{% include "footer.html" %}